@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.content {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
  }
}

ul {
  list-style: none;
  margin: 0px;
  display: inline-block;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 15px);
  max-height: 645px;
  max-width: 450px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: 528px;
  }
}

.modal__сall-back {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__button {
  position: fixed;
  right: 8px;
  top: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  transition-property: opacity, scale;
  transition-duration: 1s;
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon:hover, .modal__icon:focus {
  cursor: pointer;
  fill: #188ce8;
}

.modal__item {
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 20px;
}

.modal__label {
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input-box {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #000;
  padding-left: 40px;
}
.modal__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: transparent;
}

.modal__input:focus + .modal__window-icon {
  fill: #2196f3;
}

.modal__window-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__comment {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__comment:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: transparent;
}

.modal__check {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .modal__check {
    max-width: 385px;
    margin: 0 auto;
  }
}

.checkbox {
  display: flex;
  margin-bottom: 30px;
  align-items: baseline;
  font-size: 12px;
  margin-left: 15px;
}
@media screen and (min-width: 480px) {
  .checkbox {
    margin-left: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    margin-left: 20px;
  }
}

.checkbox__icon {
  display: flex;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  top: -5px;
  left: 0px;
  transform: translateX(-50%);
  align-items: center;
  fill: transparent;
  transform: translateY(50%);
}

.modal__checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}

.modal__checkbox:checked + .checkbox__icon {
  background-color: #188ce8;
  border: transparent;
  fill: #fff;
}

.checkbox--text {
  font-size: 12px;
  padding-left: 25px;
}

.checkbox__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}

.modal__submit {
  cursor: pointer;
  margin: 0;
  padding: 10px 52px;
  color: #fff;
  background-color: #188ce8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.mobile__button {
  border: 0px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .mobile__button {
    display: none;
  }
}

.mobile__icon {
  fill: #212121;
}

.js-menu-container {
  display: none;
}

.js-menu-container.is-open {
  display: block;
  position: fixed;
  top: 0;
  left: -15px;
  background-color: #ffffff;
  width: calc(100vw + 15px);
  height: 100vh;
  z-index: 1;
}

.mobile__container {
  max-width: 768px;
  min-height: 650px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.js-close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  background-color: transparent;
  display: block;
  margin-left: auto;
}

.mobile__close:hover,
.mobile__close:focus {
  fill: #2196f3;
}

.mobile__menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}

.mobile__item {
  margin-bottom: 32px;
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile__link.current {
  color: #2196f3;
}

.contacts__mobile {
  margin-bottom: 64px;
}

.contacts__item {
  display: block;
}
.contacts__item:first-child {
  margin-bottom: 32px;
}

.contacts__tel {
  color: #2196f3;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .contacts__tel {
    font-size: 34px;
  }
}

.contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.soc__mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 380px;
}

.soc__link-mobile {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-left: 10px;
}
@media screen and (min-width: 480px) {
  .soc__link-mobile {
    font-size: 18px;
  }
}

.soc__item::after {
  content: "";
  border-right: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  width: 22px;
  padding-left: 10px;
}

.soc__item:last-child::after {
  content: "";
  border-right: 0px;
}

header {
  position: relative;
}
@media screen and (min-width: 768px) {
  header {
    max-width: 768px;
    display: contents;
    height: 80px;
  }
}

.container-header {
  position: relative;
  max-width: 450px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .container-header {
    max-width: 768px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .container-header {
    max-width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo {
  display: inline-block;
  font-family: Raleway, cursive;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo--light {
  color: #000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.nav {
  display: none;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.nav__item {
  margin-right: 50px;
  letter-spacing: 0.02em;
  display: inline-block;
}
.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -33px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .nav__link--current::after {
    bottom: -31px;
  }
}

.contacts {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.02em;
  flex-shrink: 0;
  gap: 10px;
}
.contacts:first-child {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 310px;
    flex-direction: row;
  }
}

.contact__item {
  margin-right: 0px;
}
.contact__item:first-child {
  margin-right: 30px;
}

.contact__icon {
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon:hover, .contact__icon:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contact__icon:hover .contact__email, .contact__icon:focus .contact__email {
  fill: var(--accent-color);
}
.contact__icon:hover .contact__phone, .contact__icon:focus .contact__phone {
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    font-size: 14px;
  }
}

.contact__email {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email:hover, .contact__email:focus {
  fill: var(--accent-color);
}

.contact__phone {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__phone:hover, .contact__phone:focus {
  fill: var(--accent-color);
}

.header-border {
  position: absolute;
  top: 77px;
  content: "";
  width: 100%;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header-border {
    top: 81px;
  }
}
@media screen and (min-width: 1200px) {
  .header-border {
    top: 78px;
  }
}

.hero {
  margin: 0 auto;
  max-width: 480px;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
  }
}

.container__hero {
  max-width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container__hero {
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .container__hero {
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  .container__hero {
    max-width: 1600px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desctop-min.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  letter-spacing: 0.06em;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desctop-2x-min.jpg);
  }
}
@media screen and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile-min.jpg);
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile-2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desctop-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desctop-2x-min.jpg);
  }
}

.hero__title {
  font-family: "Roboto", sans-serif;
  max-width: 360px;
  margin: 0px auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
@media screen and (min-Width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
}

.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: var(--accent-color);
  border: 0px;
  background-color: #2196f3;
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  color: aliceblue;
}

.methods__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  letter-spacing: 0.03em;
  gap: 30px;
}

.methods__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .methods__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .methods__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .methods__item {
    width: calc((100% - 90px) / 4);
    flex-wrap: nowrap;
  }
}

.methods__wrap {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.methods__title {
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.methods__desc {
  text-align: left;
}

.content-no-pt {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .content-no-pt {
    display: none;
  }
}

.benefits__list {
  display: flex;
}

.benefits__item {
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0px;
}

.benefits__thumb {
  position: relative;
}

.benefits__photo {
  display: block;
}

.benefits__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.benefits__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.content--bcgnd {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.team__card {
  padding-bottom: 30px;
  width: 100%;
  background: #ffffff;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:last-child {
  padding-right: 0px;
}
@media screen and (min-width: 768px) {
  .team__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((100% - 90px) / 4);
  }
}

.about-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__names {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.job__title {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social__links {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social__links-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #fff;
}

.social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo {
  display: block;
}

.clients__list {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__item {
  display: flex;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}
.clients__link:hover .client__icon, .clients__link:focus .client__icon {
  fill: var(--accent-color);
}

.client__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
}

.footer__container {
  width: 100%;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    justify-content: space-around;
    max-width: 738px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
    max-width: 1200px;
  }
}

.left-column {
  min-width: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .left-column {
    margin-right: 70px;
  }
}

.logo__footer {
  color: #fff;
}

address {
  margin-top: 20px;
  font-style: normal;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.footer__location {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__location {
    margin-bottom: 9px;
  }
}
.footer__location:first-child a {
  color: var(--primary-white-color);
}
.footer__location:last-child {
  margin-bottom: 0px;
}

.footer__address {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__address:hover, .footer__address:focus {
  color: var(--primary-white-color);
}

.join-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.join-to-us {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.footer__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: white;
}

/*Follow-us*/
.follow-us {
  display: flex;
  width: 100%;
  justify-content: center;
}

.follow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .follow {
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.follow__label {
  width: 100%;
  max-width: 450px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12px;
  margin-bottom: 20px;
}
.follow__label input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .follow__label {
    margin-bottom: 0px;
    align-items: flex-start;
    max-width: 358px;
  }
}

.follow__input {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  margin-top: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: 1px solid #212121;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .follow__input {
    max-width: 358px;
  }
}

.follow__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}

.follow__icon {
  margin-left: 10px;
  fill: #fff;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item {
  padding-top: 0px;
  margin-right: 8px;
}
.portfolio__item:last-child {
  margin-right: 0px;
}
.portfolio__item:last-child .portfolio__btn {
  border: 0px;
  margin-top: 0px;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.portfolio__btn {
  border: 0px;
  margin-top: 0px;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}
.portfolio__btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__filter button:hover,
.portfolio__filter button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: var(--accent-color);
}

/*Товари*/
.products {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.products__card {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}
.products__card:nth-child(3n) {
  margin-right: 0px;
}
.products__card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.products__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover, .products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products__link:hover .products__overlay, .products__link:focus .products__overlay {
  transform: translateY(0);
}

.products__thumb {
  position: relative;
  overflow: hidden;
}

.products__img {
  display: block;
}

.products__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition-property: translatey(0), background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.products__description {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.products__about {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.products__name {
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.products__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */