.mobile__button {
  border: 0px;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__icon {
  fill: #212121;
}

.js-menu-container {
  display: none;
}

.js-menu-container.is-open {
  display: block;
  position: fixed;
  top: 0;
  left: -15px;
  background-color: #ffffff;
  width: calc(100vw + 15px);
  height: 100vh;
  z-index: 1;
}

.mobile__container {
  max-width: 768px;
  max-height: 800px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.js-close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  background-color: transparent;
  display: block;
  margin-left: auto;
}

.mobile__close:hover,
.mobile__close:focus {
  fill: #2196f3;
}

.mobile__menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  @media screen and(min-width:768px) {
    display: none;
  }
}


.mobile__item {
  margin-bottom: 32px;
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile__link.current {
  color: #2196f3;
}

.contacts__mobile {
  margin-bottom: 64px;
}

.contacts__item {
  display: block;

  &:first-child {
    margin-bottom: 32px;
  }
}

.contacts__tel {
  color: #2196f3;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17px;
  letter-spacing: 0.02em;

  @media screen and(min-width:480px) {
    font-size: 34px;
  }
}

.contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.soc__mobile {
  display: flex;
  justify-content: space-between;
  max-width: 357px;
}

.soc__link-mobile {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-left:10px;

  @media screen and(min-width:480px) {
    font-size: 18px;
  }
}

.soc__item::after {
  content: "";
  border-right: 1px solid;
  border-color: rgba($color: #212121, $alpha: 0.2);
  width: 22px;
  padding-left: 10px;
}

.soc__item:last-child::after {
  content: "";
  border-right: 0px;
}
