.methods__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  letter-spacing: 0.03em;
  gap: 30px;
}

.methods__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and(min-width:480px) {
    width: 100%;
  }

  @media screen and(min-width:768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and(min-width:1200px) {
    width: calc((100% - 90px) / 4);
    flex-wrap: nowrap;
  }
}

.methods__wrap {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.methods__title {
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.methods__desc {
  text-align: left;
}
